* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mochiy Pop One', sans-serif;
  /* font-family: 'Changa One', sans-serif;  */
}

:root {
  --general-bg-light: #F18650;
  --general-bg-base: #EB5306;
  --general-bg-base-hover: #d94c04;
  --general-bg-dark: #BC4204;
  --text-background: #ffffff;
  --text-second: #374151;
  --text-secondary:#858585;
  --text-third:#b7b7b7 ;
  --text-primary: #000000;
  --disabled: #353535 ;
  --background-main: #FFFFFF;
  --background-second: #f8f9fc; 
  --background-three: #f9fafb;
  --background-four: #313131;
  --background-five: #464646;
  --border-color:#d1d5db;
  --heading-1: 42px;
  --heading-2: 35px;
  --heading-3: 29px;
  --heading-4: 25px;
  --heading-5: 21px;
  --heading-6: 17px;
  --body-2: 16px;
  --body: 14px;
  --small-1:12px;
  --small-2:10px;
}

/* *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--background-main);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
} */

::-webkit-scrollbar {
  display: none;
}
